project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "*.ipynb"
    - "*.md"
    - "!drafts/"
  resources: static
execute:
  freeze: auto

website:
  repo-url: https://github.com/espm-288/website
  repo-actions: [edit, issue]
  page-navigation: true
  navbar:
    background: "#333333"
    search: true
    right:
      - file: index.qmd
        icon: house
        text: Home
      - file: policies.qmd
        icon: file-text
        text: Policies
      - text: Platforms
        icon: pc-display-horizontal
        menu:
        - text: Codespaces
          icon: github
          href: https://codespaces.new/espm-288/website?quickstart=1
        - text: GitPod
          icon: app
          href: https://gitpod.io/#https://github.com/espm-288/website
        - text: Containers
          icon: box
          href: https://github.com/orgs/boettiger-lab/packages?repo_name=espm-288
      - text: Forum
        icon: chat
        href: https://espm-288.zulipchat.com
      - icon: github
        href: https://github.com/espm-288
  sidebar:
    style: floating
    contents:
      - file: index.qmd
        icon: house
        text: Home
      - text: "---"
      - section: '2026 (Current)'
        icon: calendar-check
        contents:
          - file: 2026/index.qmd
            text: Overview
          - file: 2026/compute-setup.qmd
            text: Compute Setup
          - section: 'Tabular Data'
            icon: table
            contents:
              - file: 2026/tabular-data/index.qmd
                text: Overview
          - section: 'Local LLMs'
            icon: cpu
            contents:
              - file: 2026/local-llms/index.qmd
                text: Overview
          - section: 'Spatial Data'
            icon: geo-alt
            contents:
              - file: 2026/spatial-data/index.qmd
                text: Overview
          - section: 'Cloud Compute'
            icon: cloud
            contents:
              - file: 2026/cloud-compute/index.qmd
                text: Overview
      - text: "---"
      - section: '2025 Archive'
        icon: archive
        contents:
          - file: 2025/index.qmd
            text: Overview
          - section: 'Tutorials in R'
            contents:
              - auto: "2025/tutorials/R/*"
          - section: 'Tutorials in Python'
            contents:
              - auto: "2025/tutorials/python/*"
          - section: Platforms
            contents:
              - file: 2025/tutorials/computing-environment.qmd
              - text: Codespaces
                icon: github
                href: https://codespaces.new/espm-288/website?quickstart=1
              - text: GitPod
                icon: app
                href: https://gitpod.io/#https://github.com/espm-288/website
              - text: Containers
                icon: box
                href: https://github.com/orgs/espm-288/packages
      - text: "---"
      - section: '2024 Archive'
        icon: archive
        contents:
          - file: 2024/index.qmd
            text: Overview
          - section: 'Contents'
            contents:
              - auto: "2024/contents/*"
      - text: "---"
      - text: Forum
        icon: chat
        href: https://espm-288.zulipchat.com
      - icon: github
        href: https://github.com/espm-288 
  page-footer:
    right: 
      - icon: github
        href: https://github.com/espm-288/website
      - icon: globe-americas 
        href: https://carlboettiger.info  


format:
  html:
    page-layout: article # change to full for narrower layout, see https://quarto.org/docs/output-formats/page-layout.html
    css:
      - assets/css/nucleo-icons.css
      - assets/css/quarto-material-kit.css
      - assets/css/custom.css
    include-after-body: [assets/html/footer.html]
    title-block-banner: assets/img/methane_bubbles.jpg
    title-block-mask: '<span class="mask bg-gradient-light opacity-2"></span>'
    template: assets/partials/html.template
    grid:
      body-width: 1800px
      margin-width: 300px
      gutter-width: 1.5rem
