<div class="row">
  <div class="col-md-8 col-md-offset-2">

<table class="table" align="text-center">
  <tr>
    <th align="center" style="width:10%">Date</th>
    <th align="center" style="width:20%"><a href="/modules">Module</a></th>
    <th align="center" style="width:45%">Topics</th>
    <th align="center" style="width:5%">Reading</th>
    <th align="center" style="width:5%">Video</th>
    <th align="center" style="width:5%">Assignment</th>
  </tr>

  {{ range $.Site.Data.lessons }}
    {{range . }}
    <tr>
      <td align="center">{{ .date }}</td>
      <td align="center"><b>{{ .module | safeHTML }}<b/></td>
      <td align="center">{{if .topics }}<b>{{ .topics | safeHTML }}<b/>{{ end }}</td>

      {{ if .reading }}
      <td align="center"><a href="{{ .Site.baseurl }}/readings/{{ .reading }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .lecture }}
      <td align="center"><a href="{{ .Site.baseurl }}/lectures/{{ .lecture  }}">
          <i class="fa fa-comment fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-comment fa-lg"></i></font></td>
      {{ end }}

      {{ if .assignment }}
      <td align="center"><a href="{{ .Site.baseurl }}/assignments/{{ .assignment }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
    </tr>
    {{ end }}
  {{ end }}

</table>

    
  </div>
</div>