on:
  workflow_dispatch:
  push:
    branches: master

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/boettiger-lab/nasa-tops:latest
      options: --user root --security-opt seccomp=unconfined
    permissions:
      contents: write
      pages: write
    steps:
      - name: Quarto-inside-docker permissions
        run: git config --system --add safe.directory '*'
    
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
